footer.page-footer.text-center.py-3.bg-dark
    .container.text-light
        .row
            .col
                span 2n DAM. Escola PIA Santa Anna Mataró.
            .col-3
            .col
                span Fet amb ❤️ per <a href="https://www.linkedin.com/in/roger-esteve-sanchez-12a265175/" style="color: white"> Roger Esteve</a>

style.
    .page-footer {
        position: absolute;
        margin-top: 0px; /* negative value of footer height */
        clear:both;
        bottom: 0px;
        width: 100%;
    } 