nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  #navbarCollapse.collapse.navbar-collapse.d-flex.justify-content-between
    div
      ul.navbar-nav.mr-auto
        li.nav-item.mx-5
          h5
            a.nav-link.text-danger(href='/') Los reyes fachas
        li.nav-item.mx-5
          a.nav-link(href='/juguetes') Juguetes
    div
      ul.navbar-nav.mr-auto
        li.nav-item.mx-5
          if params.usuario
            a.nav-link.text-white(href='/logout') Salir
          else 
            a.nav-link.text-white(href='/') Acceso