include ../templates/header
include ../templates/navbar

.container.mt-5
    .row
        .col-2
        .col-10
            .row.mb-5
                table.table.mb-5
                    tr 
                        th Nombre niño
                        th Aceptada
                    for val in cartas
                        tr 
                            td 
                                a(href="/cartas/" + val._id) #{val.nino.nombreCompleto}
                            td(style=`color: ${val.aceptada ? 'green' : 'red'}`) #{val.aceptada ? 'SI' : 'NO'}
        .col-2
          
include ../templates/footer